<router-outlet></router-outlet>
<app-nav-bar></app-nav-bar>

<div class="link_capture">
  <form>
    <fieldset>
      <legend>PLEASE ENTER YOUR LINK</legend>
      <input type="text" id="link" name="link" [(ngModel)]="link" placeholder="PURCHASE ORDER LINK"><br>
      <button type="button" (click)="clickme()">SUBMIT</button>
    </fieldset>
  </form>
</div>

<div class="detail">
  <h3>Purchase Offer: {{po_n}}</h3>
  {{console.log(po_n)}}
  <table>
    <tr>
      <th>Line</th>
      <th>Our Code</th>
      <th>Item</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th>Comment By Supplier</th>
      <th>Delivery Exception</th>
    </tr>


    
    <tr *ngFor="let card of po_s[0]">
      <td>{{card.Line_Number}}</td>
      <td>{{card.Item_Code}}</td>
      <td>{{card.Item_Description}}</td>
      <td>{{card.unit}}</td>
      <td>{{card.quantity}}</td>
      <td>{{card.unit_price}}</td>
      <td>{{card.total_price}}</td>
      <td>{{card.cbs}}</td>
      <td>{{card.de}}</td>
    </tr>


  </table>
</div>